
body {
    font-family: Arial, sans-serif; 
    background-color: #acaca0;    
    text-align: center;              
    margin: 20px;                   

h1 {
    color: black;                 
    margin-bottom: 30px;   
}


.product-box {
    background-color: white;        
    width: 300px;                  
    margin: 0 auto;   
    padding: 15px;                  
    border: 2px solid gray;         
    border-radius: 8px;              
}

.product-box img {
    width: 100%;       
    height: auto;        
    border-radius: 5px;          
}

/* Product Title */
.product-box h2 {
    color: black;                
    font-size: 20px;               
    margin-top: 10px;                
}

.description {
    color: dimgray;                  /* Gray text */
    font-size: 14px;                 /* Small readable text */
    margin: 10px 0;                  
}

/* Product Price */
.price {
    color: red;                      /* Red price text */
    font-weight: bold;               /* Bold text */
    margin-bottom: 15px;             /* Space below price */
}

/* Button Styling */
button {
    background-color: blue;          /* Blue button */
    color: white;                    /* White text */
    padding: 10px 20px;  
      /* Inner space (top-bottom, left-right) */
    border: none;                    /* No border */
    border-radius: 5px;              /* Rounded button corners */
}

/* Button hover effect */
button:hover {
    background-color: darkblue;      /* Darker blue on hover */
}